@CHARSET "ISO-8859-1";
ul.sb_menu,ul.ex_menu {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: #6e6e6e;
}

ul.sb_menu li,ul.ex_menu li {
	margin: 0 auto;
	border-bottom: 1px solid #e8e8e8;
}

ul.sb_menu li,ul.ex_menu li {
	padding: 8px 0;
	width: 220px;
}

ul.sb_menu li a {
	color: #000000;
	text-decoration: none;
	margin-left: -16px;
	padding: 4px 8px 4px 16px;
}

ul.sb_menu li a:hover,ul.nav li a:hover {
	color: #3183bf;
	font-weight: bold;
	text-decoration: none;
}

.nav{
	margin: 0 auto;
	width: 1024;
}