@CHARSET "utf-8";

* {
  margin: 0;
  padding: 0;
}

#main {
	position: relative;
	width: 1024px;
	height: 800px;
	height:auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;	
	min-height:300px;
	resize:both;     
}

#header {
	height: 100px;
    width: 1024px;
	position: absolute;
}

#functions {
	width: 220px;
	height: auto;
	position: absolute;
	top: 113px;
	left: 0;
}

#content {
	top: 113px;
	left: 114px;
	width: 800px;
	height:auto;
    margin:0 auto;
    position: relative;
    overflow: auto;
}

#footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: auto;
    height: 150px;
	text-align:center;
	margin-top: 140px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}

body {
	background-color: #8BB9C7;
	font-family: sans-serif;
}

h4 {
	padding-top: 0.5em;
	padding-bottom: 0.85%;
}
