@CHARSET "utf-8";

.subMenu {
	background-color: #7DA6B3;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 1em;
}

textoExplicativo {
	padding-left: 0, 5em;
}

p {
	color:white;
}
.texto_ayuda{
	padding-left: 5%;
	padding-top: 5%;
}

.texto_ayuda ul {
	padding-left: 10%;
	
}